body
{
    position: relative;
}
.banner
{
    width: 100%;
    height: 50px;
    color:white;
    background-color: lightgreen;
    background-attachment: fixed;
    text-align: center;
    margin: 10px 5px;
    padding-top: 10px;
    
}
h3{
    width: 75%;
    float: left;
}

.jumbtron{
    width: 100%;
    height: 200px;
    background-color: brown;
    color: white;
    padding-top: 60px;
    margin-top: 20%;
    border: 1px solid brown;
    text-align: center;
    font-size: xx-large;
}
footer{
    
    padding: 10px 3px;
    text-align: center;
    background-color: grey;
    bottom: 0px;
    width: 100%;
    position: fixed;
 
   
}
#mostPopular{
  left:5px;  
}
.card{
    border: 2px solid black;
    width: 200px;
    padding: 3px;
    box-sizing: border-box;
    float: left;
    margin-left: 6px;
   
}
.card-img-top{
    height: 200px;
    border-radius: 5px;
}
.card-title{
    font-size: medium;
}
.card-text{
    font-size: small;
    text-align: justify;
    box-sizing: border-box;
    max-height: 110px;
    min-height: 110px;
    overflow: auto;
}
.card-body .btn{
    background-color: darkolivegreen;
}